@{
    ViewData["Title"] = "About";
}

<h3 class="text-dark">@ViewData["Title"]</h3>

<div>
    <p class="text-secondary">
        This solution is an online sales system
        <i class="bi bi-cash-stack"></i>
    </p>
    <p class="text-secondary">
        Rafael José Gonçalves
        <i class="bi bi-terminal"></i> 
    </p>
    <p class="text-secondary">
        rafaeljosecomputacao@gmail.com
        <i class="bi bi-envelope"></i>
    </p>
</div>
