@{
    ViewData["Title"] = "Home Page";
}

<div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom text-dark text-center">Welcome to The Sales System</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-primary fs-2 mb-1">
                <i class="bi bi-person"></i>
            </div>
            <h3 class="fs-2 text-dark">Sellers</h3>
            <p class="text-secondary">
                Manage all registered sellers in a list with the most important information. 
            </p>
            <a class="btn btn-primary fs-5" asp-controller="Sellers" asp-action="Index">
                Get Started
                <i class="bi bi-rocket-takeoff"></i>
            </a>
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-primary fs-2 mb-1">
                <i class="bi bi-inboxes"></i>
            </div>
            <h3 class="fs-2 text-dark">Departments</h3>
            <p class="text-secondary">
                Register new departments, remove, edit and look at the details.
            </p>
            <a class="btn btn-primary fs-5" asp-controller="Departments" asp-action="Index">
                Get Started
                <i class="bi bi-rocket-takeoff"></i>
            </a>
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-primary fs-2 mb-1">
                <i class="bi bi-clipboard"></i>
            </div>
            <h3 class="fs-2 text-dark">Sales</h3>
            <p class="text-secondary">
                Perform personalized searches on sales recorded in the system.
            </p>
            <a class="btn btn-primary fs-5" asp-controller="Sales" asp-action="Index">
                Get Started
                <i class="bi bi-rocket-takeoff"></i>
            </a>
        </div>
    </div>
</div>
