@{
    ViewData["Title"] = "Privacy Policy";
}

<h3 class="text-dark">@ViewData["Title"]</h3>

<div>
    <p class="text-secondary">Use this page to detail your site's privacy policy.</p>
</div>

<div>
    <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">
        Back to List
        <i class="bi bi-arrow-left"></i>
    </a>
</div>
