@model SalesSystem.Models.ViewModels.ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<h3 class="text-dark">@ViewData["Title"]</h3>
<h4 class="text-secondary">@Model.Message</h4>

@if (Model.ShowRequestId)
{
    <p class="text-secondary">
        Request Id: <code class="text-danger">@Model.RequestId</code>
    </p>
}

<div>
    <a class="btn btn-secondary" asp-action="Index">
        Back to List
        <i class="bi bi-arrow-left"></i>
    </a>
</div>
